<h1>投稿詳細</h1>

<div>
    <p>タイトル: <%= @article.title %></p>
    <p>投稿内容: <%= @article.content %></p>
    <%= link_to "投稿編集へ", edit_article_path(@article) %> :
    <%= link_to "投稿一覧へ戻る", articles_path %>
<%= button_to "削除する", article_path(@article), method: :delete %>
</div>